---
import "../styles/global.css"
import "../styles/font.css"
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Language" content="es">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Adrián Tablante | Portfolio">
		<meta property="og:title" content="Adrián Tablante | Portfolio">
		<meta property="og:description" content="Siempre busco nuevos retos. Me encanta probar nuevas tecnologías o profundizar en las ya conocidas. Me centro principalmente en JavaScript/TypeScript y sus herramientas principales.">
		<meta property="og:url" content="https://vassiat.github.io/">
		<meta property="og:image" content="https://vassiat.github.io/logo.svg">
		<meta property="twitter:title" content="Adrián Tablante | Portfolio">
		<meta property="twitter:card" content="summary">
		<meta property="twitter:description" content="Siempre busco nuevos retos. Me encanta probar nuevas tecnologías o profundizar en las ya conocidas. Me centro principalmente en JavaScript/TypeScript y sus herramientas principales.">
		<meta property="twitter:image" content="https://vassiat.github.io/logo.svg">
		<meta property="twitter:url" content="https://vassiat.github.io/">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="author" content="Adrián Tablante">
		<meta name="generator" content={Astro.generator} />
		<link rel="shortcut icon" href="https://vassiat.github.io/favicon.svg" type="image/x-icon">
		<link rel="canonical" href="https://vassiat.github.io/">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Adrián Tablante | Portfolio</title>
	</head>
	<body class="font-helium">
		<slot />
	</body>
</html>
